<div>
  <app-table
    [page]="page"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    [rows]="rows"
  >
    <ngvn-column header="ID" key="id">

    </ngvn-column>
    <ngvn-column header="Title" key="title">
    </ngvn-column>
    <ngvn-column header="Status" key="isActive">
      <ng-template appCell let-row>
        @if (row.isActive) {
          Active
        } @else {
          Inactive
        }
      </ng-template>
    </ngvn-column>
    <ngvn-column header="Duration" key="duration">
      <ng-template appHeader>
        Duration (Minutes)
      </ng-template>
    </ngvn-column>
    <ngvn-column header="Description" key="description"></ngvn-column>
    <ngvn-column header="Action">
      <ng-template appCell let-row>
        <a [href]="row.id">
          <i class='bx bx-detail' ></i>
        </a>
        <nz-divider nzType="vertical"></nz-divider>
        <a [href]="row.id"><i class='bx bx-edit'></i></a>
        <nz-divider nzType="vertical"></nz-divider>
        <a [href]="row.id"><i class='bx bx-trash'></i></a>
      </ng-template>
    </ngvn-column>
  </app-table>
</div>

