<app-quiz-filter [quizParam]="quizParam" (raiseQuizParam)="fetchQuizzes($event)"></app-quiz-filter>
@if (result != null) {
  <div class="quiz">
    @for (quiz of result.items; track quiz) {
      <button>
        <div class="quiz-image">
          <img [src]="quiz.image" [alt]="quiz.title">
        </div>
        <div class="quiz-info">
          <div class="question-number">{{ quiz.numberOfQuestions }}Qs</div>
          <div class="duration">Duration: {{ quiz.duration }}min</div>
        </div>
        <p class="quiz-title">{{ quiz.title }}</p>
      </button>
    }
  </div>
  <app-paginator [quizFilter]="quizParam" (raiseQuizFilter)="onPaging($event)" [paginatedResult]="result"></app-paginator>
}
